@model ServiceLayer.InputViewModels.LogInModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
    </style>
</head>
<body>
    @*<div class="_navbar">@Html.Partial("../Shared/_nav")</div>
        <div class="_anouncementsboard">@Html.Partial("../Shared/_announcements")</div>
        <div class="_catagories">@Html.Partial("../Shared/_categories")</div>*@
    <div class="loginContainer">
        <h2>Login</h2>
        <form method="post">
            <input asp-for="Username" class="form-control loginInput">
            <input asp-for="Password" class="form-control loginInput">
            @if (TempData["FailedLoginAttempt"] != null)
            {
                <div class="errorMessage">@TempData["FailedLoginAttempt"]</div>
            }
            <div class="forgetLinks"><a asp-controller="Home" asp-action="LogIn">Reset password / username</a></div>
            <div><input type="submit" value="LogIn" class="btn loginButton" /></div>
        </form>
    </div>
</body>
</html>
