
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
    </style>
</head>
<body>
    <div class="_navbar">@Html.Partial("../Shared/_nav")</div>
    <div class="_anouncementsboard">@Html.Partial("../Shared/_announcements")</div>
    <div class="_catagories">@Html.Partial("../Shared/_categories")</div>
</body>
</html>
