@model PresentationLayer.ViewModels.StartPageModel

@{
    Layout = "~/Views/Shared/_layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <style>
        ._categories a {
            margin: 10px 4px 10px 4px;
        }
    </style>
</head>
<body>
    <div class="col-sm-10 _categories" style="margin: auto auto auto 16px; border: 2px solid black; border-radius: 5px 5px; width: 120px;">
        @foreach (var category in Model.Categories.Categories)
        {
            <div class="row">
                <a asp-controller="Riddle" asp-action="Category" asp-route-_categoryName="@category.CategoryName">@category.CategoryName</a>
            </div>
        }
    </div>
    <div class="col-sm-10">
        @foreach (var riddle in Model.Riddles.Riddles)
        {
            <div class="_unsolvedRiddle row" style="border: 2px solid black; margin: 10px 10px 10px 10px; font-size: 40px; display:flex;justify-content:center;align-items:center;">@riddle.RiddleContent</div>
        }
    </div>
</body>
</html>

<script>
    var myIndex = 0;
    SlideShow();

    function SlideShow() {
        var i;
        var x = document.getElementsByClassName("_unsolvedRiddle");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) { myIndex = 1 }
        x[myIndex - 1].style.display = "block";
        setTimeout(SlideShow, 5000);
    }
</script>