@model ServiceLayer.ViewModels.InputViewModels.AddUserModel

@{
    Layout = "~/Views/Shared/_layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
</head>
<body>
    <div style="display:flex;justify-content:center;align-items:center;">
        <form method="post" style="width: 350px;">
            <input asp-for="Username" class="form-control" style="width: 300px;" />
            <span asp-validation-for="Username" style="width: 300px;"></span>
            <input asp-for="Password" class="form-control" style="width: 300px;" />
            <span asp-validation-for="Password" style="width: 300px;"></span>
            <input asp-for="PasswordRepeat" class="form-control" style="width: 300px;" />
            <span asp-validation-for="PasswordRepeat" style="width: 300px;"></span>
            <input asp-for="Email" class="form-control" style="width: 300px;" />
            <span asp-validation-for="Email" style="width: 300px;"></span>
            <div><input type="submit" value="Create Account" class="btn" style="width: 300px;" /></div>
        </form>
    </div>
</body>
</html>
