@model ServiceLayer.ViewModels.InputViewModels.LogInModel

@{
    Layout = "~/Views/Shared/_layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
    </style>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="loginContainer">
        <h2>Login</h2>
        <form method="post">
            <input asp-for="Username" class="form-control">
            <input asp-for="Password" class="form-control">
            <div><input type="submit" value="Login" class="btn" /></div>
        </form>
        <a asp-controller="User" asp-action="AddUser">Create Account</a>
    </div>
</body>
</html>
