@model ServiceLayer.ViewModels.InputViewModels.LogInModel

@{
    Layout = "~/Views/Shared/_layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <style>
    </style>
</head>
<body>
    <div style="display:flex;justify-content:center;align-items:center;">
        <form method="post" class="col-sm-10" style="width: 350px;">
            <h2 class="row">Login</h2>
            <input asp-for="Username" class="form-control row" style="width: 300px;">
            <span asp-validation-for="Username" class="row" style="width: 300px;"></span>
            <input asp-for="Password" class="form-control row" style="width: 300px;">
            <span asp-validation-for="Password" class="row" style="width: 300px;"></span>
            <div><input type="submit" value="Login" class="btn row" style="width: 300px;" /></div>
            <a asp-controller="User" asp-action="AddUser" class="row" style="width: 300px;">Create Account</a>
        </form>
    </div>
</body>
</html>
