<style>
    ._announcementsboard {
        float: right;
        width: 250px;
        background-color: cadetblue;
        overflow: hidden;
    }

    ._boardtitle {
        font-size: 20px;
        height: 30px;
    }

    ._scroll {
        overflow: auto;
        height: 900px;
        width: 100%;
    }

    ._announcement {
        top: auto;
        left: auto;
        bottom: auto;
        right: auto;
        width: 100%;
        max-height: 500px;
    }

        ._announcement p {
            overflow: hidden;
            max-height: 400px;
        }
</style>

<div class="_announcementsboard">
    <div class="_boardtitle">Announcements</div>
    <div class="_scroll">
        <div class="_announcement">
            <header>Title</header>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fermentum, ipsum et blandit maximus, lorem neque pretium orci, sed malesuada est lacus hendrerit nunc. Sed iaculis, dolor eget varius rhoncus, lacus mi tincidunt metus, a dignissim nisl lacus ac augue. Aliquam at ipsum nec nunc lobortis molestie. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae dapibus eros. Suspendisse malesuada, magna vitae mattis congue, nunc nisl luctus sapien, sit amet tincidunt nulla odio a sapien. Nullam sit amet varius ipsum, id iaculis arcu.

                Quisque placerat faucibus risus non iaculis. Maecenas pharetra laoreet ligula, eget facilisis est mattis eget. Pellentesque viverra nulla et augue tempor, at posuere elit finibus. Sed velit nulla, eleifend non libero eget, semper varius est. Pellentesque sagittis tortor tortor, nec tempus massa consectetur ut. Nullam nunc dolor, venenatis vel venenatis id, finibus a nunc. Suspendisse dignissim ultrices mauris sit amet vehicula. Proin tempor, dolor id semper tristique, ante quam egestas tortor, sed semper libero felis a sapien. Donec mattis interdum enim, eget euismod tellus egestas in. Vivamus commodo, lacus ut tempus maximus, sapien lacus maximus urna, maximus convallis erat ante vitae dui. Phasellus a orci non ipsum efficitur pharetra eget non ipsum. Nam aliquam eros at lectus eleifend, non condimentum purus laoreet. Quisque a malesuada ante, vestibulum consequat massa. Curabitur non arcu sed mauris porta pharetra eu non tellus. Integer arcu lacus, rhoncus eu leo quis, volutpat fermentum urna.

                Maecenas sed vehicula lectus, eu vulputate ante. Praesent cursus quam ut arcu consequat tristique. Vivamus lobortis pellentesque mi non aliquet. Nulla vel ante rhoncus, fermentum nulla ac, vehicula ex. Sed porta urna at arcu blandit, ac scelerisque mi condimentum. Integer mauris sem, placerat sed lacus vel, venenatis maximus nisi. Duis sodales odio in tempus molestie. Aenean sit amet ipsum nulla. Cras dapibus elementum ipsum, ac bibendum tellus. Vestibulum pulvinar massa non fermentum malesuada.

                Maecenas at enim dapibus, luctus massa at, auctor sem. Praesent nec dui non mauris hendrerit tincidunt posuere in nunc. Nullam eu laoreet turpis, at sagittis ex. Donec a ligula tempor, sodales justo eu, ullamcorper risus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In tempus libero nec felis aliquam malesuada. Sed eu convallis dolor, sit amet dictum odio. Proin sem dolor, volutpat ut elit vitae, congue elementum purus. Vivamus elementum fringilla faucibus. Fusce cursus nulla dolor, eu commodo purus sagittis nec. Phasellus pretium ultrices tincidunt. Proin sollicitudin est vel dolor mattis, at aliquam ligula fringilla. Morbi viverra sagittis ligula, non porttitor tortor tincidunt ac. Morbi ligula justo, mattis ut finibus non, commodo ac tortor.

                Sed congue libero at elit varius, at feugiat erat tincidunt. Proin nibh justo, porttitor ut mattis vitae, laoreet et quam. Morbi eu cursus ex. Integer a pretium mi. Aenean ullamcorper, risus vel tempus accumsan, ex orci placerat ex, vel consequat tortor tellus in mauris. Curabitur vitae ex rhoncus, efficitur ex quis, facilisis justo. Donec sit amet quam sed magna viverra imperdiet. Phasellus imperdiet molestie semper. Suspendisse molestie enim eros, eu lacinia magna aliquet et. Curabitur hendrerit tincidunt volutpat. Donec feugiat arcu non nisi rutrum ornare. Vestibulum nulla magna, vestibulum non faucibus placerat, sollicitudin at dolor.
            </p>
            <p>date</p>
        </div>
        <div class="_announcement">
            <header>Title</header>
            <p>
                Lorem ipsum dolor sit amet, tempus accumsan, ex orci placerat ex, vel consequat tortor tellus in mauris. Curabitur vitae ex rhoncus, efficitur ex quis, facilisis justo. Donec sit amet quam sed magna viverra imperdiet. Phasellus imperdiet molestie semper. Suspendisse molestie enim eros, eu lacinia magna aliquet et. Curabitur hendrerit tincidunt volutpat. Donec feugiat arcu non nisi rutrum ornare. Vestibulum nulla magna, vestibulum non faucibus placerat, sollicitudin at dolor.
            </p>
            <p>date</p>
        </div>
        <div class="_announcement">
            <header>Title</header>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fermentum, ipsum et blandit maximus, lorem neque pretium orci, sed malesuada est lacus hendrerit nunc. Sed iaculis, dolor eget varius rhoncus, lacus mi tincidunt metus, a dignissim nisl lacus ac augue. Aliquam at ipsum nec nunc lobortis molestie. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae dapibus eros. Suspendisse malesuada, magna vitae mattis congue, nunc nisl luctus sapien, sit amet tincidunt nulla odio a sapien. Nullam sit amet varius ipsum, id iaculis arcu.

                Quisque placerat faucibus risus non iaculis. Maecenas pharetra laoreet ligula, eget facilisis est mattis eget. Pellentesque viverra nulla et augue tempor, at posuere elit finibus. Sed velit nulla, eleifend non libero eget, semper varius est. Pellentesque sagittis tortor tortor, nec tempus massa consectetur ut. Nullam nunc dolor, venenatis vel venenatis id, finibus a nunc. Suspendisse dignissim ultrices mauris sit amet vehicula. Proin tempor, dolor id semper tristique, ante quam egestas tortor, sed semper libero felis a sapien. Donec mattis interdum enim, eget euismod tellus egestas in. Vivamus commodo, lacus ut tempus maximus, sapien lacus maximus urna, maximus convallis erat ante vitae dui. Phasellus a orci non ipsum efficitur pharetra eget non ipsum. Nam aliquam eros at lectus eleifend, non condimentum purus laoreet. Quisque a malesuada ante, vestibulum consequat massa. Curabitur non arcu sed mauris porta pharetra eu non tellus. Integer arcu lacus, rhoncus eu leo quis, volutpat fermentum urna.

                Maecenas sed vehicula lectus, eu vulputate ante. Praesent cursus quam ut arcu consequat tristique. Vivamus lobortis pellentesque mi non aliquet. Nulla vel ante rhoncus, fermentum nulla ac, vehicula ex. Sed porta urna at arcu blandit, ac scelerisque mi condimentum. Integer mauris sem, placerat sed lacus vel, venenatis maximus nisi. Duis sodales odio in tempus molestie. Aenean sit amet ipsum nulla. Cras dapibus elementum ipsum, ac bibendum tellus. Vestibulum pulvinar massa non fermentum malesuada.

                Maecenas at enim dapibus, luctus massa at, auctor sem. Praesent nec dui non mauris hendrerit tincidunt posuere in nunc. Nullam eu laoreet turpis, at sagittis ex. Donec a ligula tempor, sodales justo eu, ullamcorper risus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In tempus libero nec felis aliquam malesuada. Sed eu convallis dolor, sit amet dictum odio. Proin sem dolor, volutpat ut elit vitae, congue elementum purus. Vivamus elementum fringilla faucibus. Fusce cursus nulla dolor, eu commodo purus sagittis nec. Phasellus pretium ultrices tincidunt. Proin sollicitudin est vel dolor mattis, at aliquam ligula fringilla. Morbi viverra sagittis ligula, non porttitor tortor tincidunt ac. Morbi ligula justo, mattis ut finibus non, commodo ac tortor.

                Sed congue libero at elit varius, at feugiat erat tincidunt. Proin nibh justo, porttitor ut mattis vitae, laoreet et quam. Morbi eu cursus ex. Integer a pretium mi. Aenean ullamcorper, risus vel tempus accumsan, ex orci placerat ex, vel consequat tortor tellus in mauris. Curabitur vitae ex rhoncus, efficitur ex quis, facilisis justo. Donec sit amet quam sed magna viverra imperdiet. Phasellus imperdiet molestie semper. Suspendisse molestie enim eros, eu lacinia magna aliquet et. Curabitur hendrerit tincidunt volutpat. Donec feugiat arcu non nisi rutrum ornare. Vestibulum nulla magna, vestibulum non faucibus placerat, sollicitudin at dolor.
            </p>
            <p>date</p>
        </div>
    </div>
</div>